
{%	extends	'index.html' %}
{%	block title %} Customer {%	endblock %}
{%	block body	%}


<div id="bodyBox" class="container">

	<div>
		<div class="col-md-12">
			<h1><span class="fa fa-users"></span> Customer<span class="pull-right">
				<button	type="button"	class="btn	btn-info	btn-sm"	data-toggle="modal"	data-target="#myModal"> <span class="fa fa-plus-circle"></span> Add Customer</button></span></h1>

			</div>
			<table	class="table table-striped">

				<thead>
					<tr>
						<td>id</td>
						<td>Name</td>
						<td>Address</td>
						<td>Phone</td>
						<td>Birthday</td>
						<td>Gender</td>
						<td>Action</td>
					</tr>
				</thead>

				<tbody>
					{% for row in dataCustomer %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>{{ row.0 }} {{ row.1 }}</td>
						<td>{{ row.3 }}</td>
						<td>{{ row.2 }}</td>
						<td>{{ row.4 }}</td>
						<td>{{ row.5 }}</td>
						<td>
							<a	href="#!" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modalEdit{{ row.6 }}"><span class="fa fa-edit"></span> Edit</a>
							<a	href="#!" class="btn btn-danger	btn-xs"	data-toggle="modal" data-target="#modalRemove{{	row.6 }}"><span class="fa fa-remove"></span> Remove</a>
						</td>
					</tr>


					<div id="modalEdit{{ row.6 }}" class="modal fade" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">

								<form action="{{ url_for('updateCustomer') }}"	method="POST">

									<div class="modal-header">
										<h4	class="modal-title"><span class="fa fa-edit"></span> Edit Customer</h4>

										<span class="pull-right">
											<button	type="button"	class="close"	data-dismiss="modal">&times;</button>
										</span>
									</div>

									<div class="modal-body">
										<input	type="hidden"	class="form-control" name="idUpdate" value="{{ row.6 }}">
										<div class="form-group">
											<label>First Name</label>
											<input	type="text"	class="form-control" name="firstNameUpdate" value="{{ row.0 }}">
										</div>

										<div class="form-group">
											<label>Last Name</label>
											<input	type="text"	class="form-control" name="lastNameUpdate" value="{{ row.1 }}">
										</div>

										<div class="form-group">
											<label>Phone</label>
											<input	type="number" class="form-control" name="phoneUpdate" value="{{ row.2 }}">
										</div>

										<div class="form-group">
											<label>Address</label>
											<textarea class="form-control" name="addressUpdate">{{ row.3 }}</textarea>
										</div>

										<div class="form-group">
											<label>Gender</label>
											<select class="form-control" name="genderUpdate" >

												{% if 'male' == row.4 %}
												<option value="male">Male</option>
												<option value="female">Female</option>

												{% elif 'female' == row.4 %}

												<option value="female">Female</option>
												<option value="male">Male</option>
												{% endif %}


											</select>
										</div>
										<div class="form-group">

											<label>Birthday</label>
											<input	type="date" class="form-control" name="birthdayUpdate" value="{{ row.5 }}">
										</div>

									</div>
									<div class="modal-footer">
										<button	type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<button	class="btn	btn-warning" type="submit">Update</button>
									</div>

								</form>
							</div>
						</div>
					</div>

					<div id="modalRemove{{ row.6 }}" class="modal fade" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">

								<form action="{{ url_for('deleteCustomer') }}"	method="POST">

									<div class="modal-header">
										<h4	class="modal-title"><span class="fa fa-edit"></span> Edit Customer</h4>

										<span class="pull-right">
											<button	type="button"	class="close"	data-dismiss="modal">&times;</button>
										</span>
									</div>

									<div class="modal-body">
										<input	type="hidden" class="form-control" name="idRemove" value="{{ row.6 }}">

										<input	type="hidden"	class="form-control hidden" name="firstNameRemove" value="{{ row.0 }}">

										<input	type="hidden"	class="form-control hidden" name="lastNameRemove" value="{{ row.1 }}">


										<input	type="hidden" class="form-control hidden" name="phoneRemove" value="{{ row.2 }}">
										<input	type="hidden" class="form-control hidden" name="addressRemove" value="{{ row.3 }}">
										<input	type="hidden"	class="form-control hidden" name="genderRemove" value="{{ row.1 }}">

										<input	type="hidden" class="form-control hidden" name="birthdayRemove" value="{{ row.5 }}">



										<div class="form-group">
											<p>Are You sure to <b>remove</b> customer <input type="text"  name="firstNameRemove" value="{{ row.0 }} {{ row.1 }}" disabled=""> ?</p>

										</div>

									</div>
									<div class="modal-footer">
										<button	type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<button	class="btn btn-danger" type="submit">Delete</button>
									</div>

								</form>
							</div>
						</div>
					</div>




					{%	else	%}


					<tr>
						<td	colspan="7">Data Customer Empty!!!</td>
					</tr>


					{%	endfor	%}


				</tbody>
			</table>


		</div>

	</div>


	<!--	Modal	-->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<form action="{{ url_for('insertCustomer') }}"	method="POST">

				<div class="modal-content">
					<div class="modal-header">
						<h4	class="modal-title"><span class="fa fa-plus-circle"></span> Add Customer</h4>
						<span class="pull-right">
							<button	type="button"	class="close"	data-dismiss="modal">&times;</button>
						</span>

					</div>

					<div class="modal-body">
						<div class="form-group">
							<label>First Name</label>
							<input	type="text"	class="form-control" name="firstName" value="">
						</div>

						<div class="form-group">
							<label>Last Name</label>
							<input	type="text"	class="form-control" name="lastName" value="">
						</div>

						<div class="form-group">
							<label>Phone</label>
							<input	type="number" class="form-control" name="phone" value="">
						</div>

						<div class="form-group">
							<label>Address</label>
							<textarea class="form-control" name="address"></textarea>
						</div>

						<div class="form-group">
							<label>Gender</label>
							<select class="form-control" name="gender" >
								<option value="">-</option>
								<option value="male">Male</option>
								<option value="female">Female</option>
							</select>
						</div>
						<div class="form-group">
							<label>Birthday</label>
							<input	type="date" class="form-control" name="birthday" value="">
						</div>

					</div>


					<div class="modal-footer">
						<button	type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button	class="btn btn-success" type="submit">Save</button>
					</div>
				</div>
			</form>
		</div>
	</div>



	{%	endblock	%}