<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="landingpage"><span class="fa fa-book"></span> Hallo</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
				</li>
<!-- 				
					<li class="nav-item">
						<a class="nav-link" href="/books">Book</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/categories">Category</a>
					</li> -->
				

			</ul>

		</div>
		<div>		
	</div>
</nav>